body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
}

.mini_body{
  padding: 80px;
}

.title {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 45px;
}

.flex {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  background-color: antiquewhite;
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

.grid {
  width: 87%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  margin: 50px auto 0px;
}

.caixa1{
  background-color: rgb(228, 221, 212);
  display: grid;
  padding: 40px;
  align-content: center;
  justify-items: end;
  text-align: right;
  position: relative;
  gap: 20px;
}


.title_caix1{
  font-size: 2vw;
  margin: 0px;
}

.p_caixa1{
  font-size: 1vw;
}

.detalhe{
  width: 60px;
  height: 4px;
  background: #e21;
  /*display: inline-block;*/
  position: absolute;
  top: 30px;
  right: -30px;
  box-shadow: 0px 3px 7px black;
}

.button{
  background-color: crimson;
  color: white;
  align-self: start;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.div_img{
  width: 100%;
}

.imagem{
  width: 100%;

}

h1{
  margin: 0;
}

h2{
  display: inline;
  margin: 0px;
}

.vantagem{
  text-align: right;
  justify-items: end;
  align-self: center;
  margin-right: 20px;
  font-size: 4vw;
  color: rgb(167, 157, 155);
  text-transform: uppercase;
}


.caixa2{
  padding: 20px;
  background-color: rgb(228, 221, 212);
}



.svg{
  width: 2.3rem;
}

.caixa_svg{
  display: grid;
  grid-template-columns: 1.6rem 1fr;
  gap: 10px 20px;
  padding: 20px;

}

.caixa_svg h2{
  align-self: center;

}

.caixa_svg p{
  grid-column: 2;
}

footer{
  width: 100%;
  padding: 40px;
  background-color: rgb(84, 161, 161);
  text-align: center;
  margin-top: 90px;
  box-sizing: border-box;
}

