@import url(variables.css);

.header-index{
    width: 100%;
    height: auto;
    background-color: var(--cor-bg-black);
}

.header-div{
    max-width: 1200px;
    height: 100%;
    padding: 30px;
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
}

.menus {
    display: flex;
    align-items: center;
    gap: 30px
}

.menu {
    list-style: none;
    font-size: 1.4rem;
    position: relative;
}

.menu a {
    color: var(--cor-bg-title);
    text-decoration: none;
}

.menu::before {
    content: "";
    width: 0%;
    height: 2px;
    display: inline-block;
    background-color: var(--cor-bg-title);
    position: absolute;
    top: 25px;
    transition: 0.3s;
}


.menu:hover::before {
    width: 100%;
}

/*   Responsividade   */


@media screen and (max-width: 550px) {
    .menu{
        padding: 10px 15px;
        border-radius: 4px;
        background-color: var(--cor-bg-seguros);
    }


   
}


@media screen and (max-width: 550px) {
    .header-div{
        justify-content: center;
    }

    .menus{
        flex-wrap: wrap;
    }


   
}


@media screen and (max-width: 550px){
    .menus{
        justify-content: center;
    }
}
