.header-index{
    width: 100%;
    height: auto;
    background-color: black;
}

.header-div{
    max-width: 1200px;
    height: 100%;
    padding: 30px;
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
}

.menus {
    display: flex;
    align-items: center;
    gap: 30px
}

.menu {
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 1.4rem;
    position: relative;
}

.menu::before {
    content: "";
    width: 0%;
    height: 2px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 25px;
    transition: 0.3s;
}


.menu:hover::before {
    width: 100%;
}

/*   Responsividade   */

@media screen and (max-width: 550px) {
    .header-div{
        justify-content: center;
    }

    .menus{
        flex-wrap: wrap;
    }


   
}

